.container{
    color: hwb(192 0% 0%);
    box-shadow: inset;
}

.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    color:hsla(227, 78%, 51%, 0.921);
    font-family: Arial, Helvetica, sans-serif;
}